@import "/home/felipe/.cache/wal/colors-waybar.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: shade(@background, 0.8);
    color: @foreground;
}

#workspaces button {
    padding: 0 8px;
    color: @color8;
}

#workspaces button.active {
    color: @foreground;
}

#clock, #cpu, #memory, #network, #pulseaudio, #tray {
    padding: 0 10px;
    color: @foreground;
}

#custom-power {
    padding: 0 10px;
    color: @color1;
    font-size: 16px;
}
#custom-dolphin {
    padding: 0 10px;
    color: @color4;
    font-size: 16px;
}
#custom-music {
    padding: 0 10px;
    color: @color5;
}


